<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script defer th:src="@{/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" th:href="@{/css/home-style.css}">
    <title>Title</title>
</head>
<body>
<h1>Hello <span sec:authentication="principal.username"></span></h1>

<div class="role" sec:authentication="principal.authorities"></div>



<div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Heading</h1>
        <button style="color: white;" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="offcanvas-body">
        <a th:href="@{/leaders}" class="side-bar-access-btn">Leaders</a>
        <!-- add log out button -->
        <form method="post" th:action="@{/logout}">
            <input class="btn-custom" type="submit" value="Log out">
        </form>
    </div>
</div>

<div class="container-fluid mt-3 side-bar">
    <button class="btn btn-primary" data-bs-target="#demo" data-bs-toggle="offcanvas" type="button">
        MENU
    </button>
</div>
</body>
</html>